venv/
.venv/
.idea/
.DS_Store
**/.ipynb_checkpoints/
**/node_modules/
*__pycache__/
# *.txt
*.log
*.plog
*.csv
# **/__pycache__/
tapstrap/__pycache__/tapstrap_interpolated.cpython-311.pyc
tapstrap/__pycache__/tools.cpython-311.pyc
tapstrap/training_data/numpy/
tapstrap/training_data/new_gestures/

tapstrap/__pycache__/tapstrap_interpolated.cpython-311.pyc
tapstrap/__pycache__/tools.cpython-311.pyc
